# Build directories
build/
out/

# Racket compiled directories
compiled/

# Java Specific Ignores
.idea/
*.iml
*.jar
*.class
bin/

# MoteRunner binaries
*.sba
*.sdx
*.sxp

# PascalFC
listfile.txt
objfile
pmdfile

# Eclipse private settings
.settings/

# ZEves proof files
*.zcs

# Python Specific Ignores
*.py[cod]
__pycache__

# Backup files
*~
*.bak
*.swp

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
